<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khoá</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khoá...">
        </div>

        <div class="mb-3">
            <label for="gender-input" class="form-label">Từ khoá</label>
            <select name="gender" class="form-control" id="search-input">
                <option value="">-- Chọn giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>